primary_color = #769098
secondary_color = #76988F
terciary_color = #76987e
complementary_color = #AC8C18
dark_color = #262416
light_color = #fff
dark_gray_color = #3F3C29
light_gray_color = #faf9f7
outline_color = rgb(77, 144, 254)

*
  box-sizing border-box

html, body
  overflow auto
  margin 0
  padding 0
  width 100%
  height 100%
  color dark_gray_color
  display flex
  flex-direction column
  font-size 15px
  font-family 'Open Sans', sans-serif

.overlay
  display none
  position fixed
  height 100%
  width 100%
  background-color rgba(0,0,0,.6)
  top 0
  left 0
  z-index 500

.overlay.show
  display initial
