.cover
  height 100%
  width 100%
  position absolute
  z-index -100
  overflow hidden

  img
    min-width 100%
    min-height 100%

.fade-out-transition
  transition all .3s ease
  opacity 1

.fade-out-enter, .fade-out-leave
  opacity 0
