
header.header_home
  width 90%
  margin 5% 5% 0 5%
  background-color rgba(255,255,255,.0)
  color dark_color
  position absolute

  .login_link
    padding 7.5px
    border 2px solid light_color

    &:hover, &:active
      background-color light_color

      a
        color dark_color
