.search-container
  height 100vh
  width 100%
  display flex
  flex-direction column
  align-items center
  justify-content center
  transition all 0.3s ease-in-out

  h1
    color light_color

.search-container--search
  width 500px

.search-container.search-container_filled
  margin-top header_height
  padding-top 30px
  height 100px

.bet-search-results
  width 100%
  display flex
  flex-direction column
  align-items center

.bet-search-results__item
  margin 0.5% 5%
  width 90%
  padding 0.5% 2%
  display flex
  flex-direction column
  align-items center
  border-bottom 1px solid secondary_color

.bet-search-results__item_header
  width 100%
  display flex

  h3
   margin-top 0
   margin-bottom 10px

.bet-search-results__item_footer
  width 100%
  display flex
  margin-top 10px
