@import "./base.styl"
@import "./forms.styl"
@import "./header.styl"
@import "./header_home.styl"
@import "./cover.styl"
@import "./home.styl"
@import "./formOverlay.styl"

.faq
  margin-top header_height
  display flex
  flex-direction column
  align-items flex-start
  padding 0 20%

.faq_header
  width 100%
  display flex
  justify-content center

  h2
    font-size 2.5rem
    color dark_gray_color

.faq_question
  font-size 1.2rem
